.products{
    display: flex;
      flex-wrap: wrap;
      gap: 56px;
      justify-content: center;
}


.filter-controls {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

